extends layout

block body
  div#article
    div#hero
      div
        img(src=article['image_url'])
        div#ar_title=article["title"]
        div#ar_date=formatDate(article["created"])
    div#ar_content!=article.article
    if (!datesEqual(article["created"], article["updated"]))
      div.updated=formatDate(article["updated"])